@font-face {
  font-family: LeHavreRough_Primary_400;
  src: url("./assets/fonts/LeHavreRough_Primary_400.otf");
}

@font-face {
  font-family: Butler_Medium_Stencil;
  src: url("./assets/fonts/Butler_Medium_Stencil.otf");
}

$dark: #1d1d1b;
$primary: #29536a;
$danger: #84171f;
$secondary: #d4d3cd;

.App {
  font-family: LeHavreRough_Primary_400;
  background-color: $secondary;
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

main {
  margin-top: 147px;
}

.buscar {
  input {
    font-size: 1rem;
  }
}

.userWidget {
}

.cartWidget {
}

.texto-iconos {
  font-size: 1rem;
  font-family: Butler_Medium_Stencil;
  text-shadow: 0px 2px 10px rgb(46, 46, 46);
}

.cart-number {
  font-size: 2rem;
  font-weight: bolder;
  text-decoration: none;
  font-family: Butler_Medium_Stencil;
}

.categorias {
  text-shadow: none;
}

.categorias:hover {
  text-shadow: -2px 5px 2px $dark;
  transition: 0.5s;
  background-color: #142935;
}

.fade-in {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.overflow {
  overflow: hidden;
}

.card-img-top {
  transition: all 1s ease-in-out;
}

.card-img-top:hover {
  transform: scale(1.2);
}

.detalles-texto {
  font-family: Butler_Medium_Stencil;
  font-size: 1.15rem;
  font-weight: bolder;
}

footer {
  font-family: Butler_Medium_Stencil;
  color: $secondary;
  background-color: $primary;
  p {
    :hover {
      color: white;
    }
  }
}

/*------------Media Queries------------------------------------------*/

@media (max-width: 576px) {
  .buscar {
    input {
      font-size: 0.75rem;
    }
  }
}

//-------------------------------------------------------------------------------------------------------------------------------
//-------------------------------------------------------------------------------------------------------------------------------
//-------------------------------------------------------------------------------------------------------------------------------
@import "../node_modules/bootstrap/scss/bootstrap.scss";
