@font-face {
  font-family: LeHavreRough_Primary_400;
  src: url("./assets/fonts/LeHavreRough_Primary_400.otf");
}

@font-face {
  font-family: Butler_Regular_Stencil;
  src: url("./assets/fonts/Butler_Regular_Stencil.otf");
}

.App {
  font-family: LeHavreRough_Primary_400;
}

$dark: #1d1d1b;
$primary: #29536a;
$danger: #84171f;
$secondary: #d4d3cd;

.buscar {
  input {
    font-size: 1rem;
  }
}
/*------------Media Queries------------------------------------------*/

@media (max-width: 576px) {
  .buscar {
    input {
      font-size: 0.75rem;
    }
  }
}

//-------------------------------------------------------------------------------------------------------------------------------
//-------------------------------------------------------------------------------------------------------------------------------
//-------------------------------------------------------------------------------------------------------------------------------
@import "../node_modules/bootstrap/scss/bootstrap.scss";
