@font-face {
  font-family: LeHavreRough_Primary_400;
  src: url("./assets/fonts/LeHavreRough_Primary_400.otf");
}

@font-face {
  font-family: Butler_Regular_Stencil;
  src: url("./assets/fonts/Butler_Regular_Stencil.otf");
}

* {
  margin: 0;
  padding: 0;
}

.App {
  font-family: LeHavreRough_Primary_400;
}
