@font-face {
  font-family: LeHavreRough_Primary_400;
  src: url("./assets/fonts/LeHavreRough_Primary_400.otf");
}

@font-face {
  font-family: Butler_Medium_Stencil;
  src: url("./assets/fonts/Butler_Medium_Stencil.otf");
}

$dark: #1d1d1b;
$primary: #29536a;
$danger: #84171f;
$secondary: #d4d3cd;

.App {
  font-family: LeHavreRough_Primary_400;
  background-color: $secondary;
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

main {
  margin-top: 147px;
}

.buscar {
  input {
    font-size: 1rem;
  }
}

.texto-iconos {
  font-size: 1rem;
  font-family: Butler_Medium_Stencil;
  text-shadow: 0px 2px 10px rgb(46, 46, 46);
  transition: 0.5s;
}

.texto-iconos:hover {
  color: white !important;
}

.cart-number {
  font-size: 2rem;
  font-weight: bolder;
  text-decoration: none;
  font-family: Butler_Medium_Stencil;
}

.categorias {
  text-shadow: none;
  transition: 0.5s;
}

.categorias:hover {
  text-shadow: -2px 5px 2px $dark;
  background-color: #1429356e;
}

.fade-in {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.overflow {
  overflow: hidden;
}

.card-img-top {
  transition: all 1s ease-in-out;
}

.card-img-top:hover {
  transform: scale(1.2);
}

.detalles-texto {
  font-family: Butler_Medium_Stencil;
  font-size: 1.15rem;
  font-weight: bolder;
}

.banner {
  width: 80% !important;
}
.bannerContainer {
  width: 100% !important;

  display: flex;
  justify-content: center;
}

.whatsapp {
  position: fixed;
  top: auto;
  z-index: 2;
  bottom: 75px;
  right: 45px;
  color: white;
  background-color: #4dc247;
  box-shadow: 2px 1px 20px $dark;
  opacity: 1;
  border-radius: 50%;
  transition: 0.5s;

  .whatsappSVG {
    width: 45px;
    height: 45px;
    padding: 5px 2px;
    fill: white;
    vertical-align: middle;
  }
}
.whatsapp:hover {
  box-shadow: none;
  opacity: 0.8;
}

.footer-icon {
  width: 2rem;
  height: 100%;
  padding: 5px 2px;
  fill: $secondary;
  vertical-align: middle;
  transition: 1s;
}
.footer-icon:hover {
  fill: white;
}

footer {
  font-family: Butler_Medium_Stencil;
  color: $secondary;
  background-color: $primary;

  p {
    width: 100%;
    font-size: 1.1rem;
    a {
      color: $secondary;
      transition: 0.75s;
    }
    :hover {
      color: white;
    }
  }
}

/*------------Media Queries------------------------------------------*/

@media (max-width: 576px) {
  .buscar {
    input {
      font-size: 0.75rem;
    }
  }
  .tableHide {
    display: none !important;
  }
  .whatsapp {
    bottom: 50px;
    right: 10px;
    .whatsappSVG {
      width: 35px;
      height: 35px;
    }
  }
}

//-------------------------------------------------------------------------------------------------------------------------------
//-------------------------------------------------------------------------------------------------------------------------------
//-------------------------------------------------------------------------------------------------------------------------------
@import "../node_modules/bootstrap/scss/bootstrap.scss";
